<div>
  <br><br>
  <div class="row">
    <div class="col-md-3"><%= link_to t("account.contacts"), contacts_account_index_en_path  %></div>
    <div class="col-md-3"><%= link_to t("account.messages"), messages_account_index_en_path %></div>
    <div class="col-md-3"><%= link_to t("account.profil"), edit_user_registration_path , class:"btn btn-primary btn-sm btn-block" %></div>
  </div>
  <div>

  </div>
</div>